<h1>CURSO ANGULAR</h1>

<!-- interpolacion: -->
<p>El nombre del animal es: {{animal}}</p>

<p>El nombre es: {{usuario.nombre}}</p>
<p>Edad: {{usuario.edad}}</p>


<!-- Enlace de Evento (Event Binding) -->

<button (click)="decrementar()">-</button>
<span>  {{numero}}  </span>
<button (click)="incrementar()">+</button>

<!-- Enlace de clase (Class Binding) -->
<div class="mt-2 mr-2">
    <!-- Otra forma de enlazar la clase en forma de objeto -->
    <button [class]="{
        disabled: button_change
    }" class="btn btn-danger me-2" (click)="text_color= 'text-danger'" >Cambiar a rojo</button>
    <button [class.disabled]="button_change" class="btn btn-success me-2" (click)="text_color= 'text-success'" >Cambiar a verde</button>
    <button [class.disabled]="button_change" class="btn btn-primary me-2" (click)="text_color= 'text-primary'" >Cambiar a azul</button>
    <p class="mt-2" [class]="text_color">Texto que cambia de color</p>
    <button (click)="button_change= !button_change" class="btn btn-dark" >Desactivar botones</button>
</div>

<!-- Enlace de propiedades (Property Binding) -->

<button [disabled]="button_change" class="btn btn-primary mt-2">Boton de Prueba para property binding</button>
<hr>
<button (click)="img='https://images.pexels.com/photos/17392875/pexels-photo-17392875/free-photo-of-naturaleza-mujer-caminando-verano.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" class="btn btn-primary mb-2 mx-2">Imagen 2</button>

<button (click)="img='https://images.pexels.com/photos/5047450/pexels-photo-5047450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" class="btn btn-success mb-2 ">Imagen 3</button>
<br>

<img [src]="img" alt="">

<!-- Variables de plantilla (Formularios) -->
<br>
<input class="mt-2" type="text" placeholder="Ingresa tu nombre" #input_name>
<br>
<button class="btn btn-primary mt-2" (click)="mostrarEnConsola(input_name.value)">Imprimir en consola</button>

<!-- Directiva IF y ELSE  -->

@if (ActiveAlert) {

    <div class="alert alert-primary mt-2">
        <P>Se ha enviado el mensaje</P>
        <BUTTon class="btn btn-dark" (click)="ActiveAlert=!ActiveAlert">Cerrar</BUTTon>
    </div>
}
 @else ( ) {
    <div>
        <p class="alert alert-danger mt-2" >Por favor introduzca un nombre</p>
    </div>
}

<!-- Directiva For -->

<h2>Lista de personas:</h2>

<ul>
    @for (persona of personas; track persona ){
        <li>{{persona.nombre}} / Edad: {{persona.edad}}</li>
    }
</ul>

<!-- Directiva SWITCH -->

<input placeholder="Introduce el Numero" type="text" #daynumber>
<br>
<button class="btn btn-primary mt-2" (click)="changeDay(daynumber.value)">Buscar</button>

@if (dia) { 
@switch (dia) {
    @case (1){
        <p>Tu dia es el Domingo!</p>
    }
    @case (2){
        <p>Tu dia es el Lunes!</p>
    }
    @case (3){ 
        <p>Tu dia es el Martes!</p>
    }
    @case (4){
        <p>Tu dia es el Miercoles!</p>
    }
    @case (5){
        <p>Tu dia es el Jueves!</p>
    }
    @case (6){
        <p>Tu dia es el Viernes!</p>
    }
    @case (7){
        <p>Tu dia es el Sabado!</p>
    }
    @default {
        <p>El Numero introducido no corresponde a un dia!</p>
    }
}
}

<!-- Formularios Basados en plantillas -->
 
<br>
<div class="card mt-2">
    <div class="card-body">

    </div>
</div>
{{ persona | json}}







