
<!-- interpolacion: -->
<p>El nombre del animal es: {{animal}}</p>

<p>El nombre es: {{usuario.nombre}}</p>
<p>Edad: {{usuario.edad}}</p>


<!-- Enlace de Evento (Event Binding) -->

<button (click)="decrementar()">-</button>
<span>  {{numero}}  </span>
<button (click)="incrementar()">+</button>

<!-- Enlace de clase (Class Binding) -->
<div class="mt-2 mr-2">
    <!-- Nota: Otra forma de enlazar la clase en forma de objeto -->
    <button [class]="{
        disabled: button_change
    }" class="btn btn-danger me-2" (click)="text_color= 'text-danger'" >Cambiar a rojo</button>
    <button [class.disabled]="button_change" class="btn btn-success me-2" (click)="text_color= 'text-success'" >Cambiar a verde</button>
    <button [class.disabled]="button_change" class="btn btn-primary me-2" (click)="text_color= 'text-primary'" >Cambiar a azul</button>
    <p class="mt-2" [class]="text_color">Texto que cambia de color</p>
    <button (click)="button_change= !button_change" class="btn btn-dark" >Desactivar botones</button>
</div>

<!-- Enlace de propiedades (Property Binding) -->

<button [disabled]="button_change" class="btn btn-primary mt-2">Boton de Prueba para property binding</button>
<hr>
<button (click)="img='https://images.pexels.com/photos/17392875/pexels-photo-17392875/free-photo-of-naturaleza-mujer-caminando-verano.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" class="btn btn-primary mb-2 mx-2">Imagen 2</button>

<button (click)="img='https://images.pexels.com/photos/5047450/pexels-photo-5047450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" class="btn btn-success mb-2 ">Imagen 3</button>
<br>

<img [src]="img" alt="">

<!-- Variables de plantilla (Formularios) -->
<br>
<input class="mt-2" type="text" placeholder="Ingresa tu nombre" #input_name>
<br>
<button class="btn btn-primary mt-2" (click)="mostrarEnConsola(input_name.value)">Imprimir en consola</button>

<!-- Directiva IF y ELSE  -->

@if (ActiveAlert) {

    <div class="alert alert-primary mt-2">
        <P>Se ha enviado el mensaje</P>
        <BUTTon class="btn btn-dark" (click)="ActiveAlert=!ActiveAlert">Cerrar</BUTTon>
    </div>
}
 @else ( ) {
    <div>
        <p class="alert alert-danger mt-2" >Por favor introduzca un nombre</p>
    </div>
}

<!-- Directiva For -->

<h2>Lista de personas:</h2>

<ul>
    @for (persona of personas; track persona ){
        <li>{{persona.nombre}} / Edad: {{persona.edad}}</li>
    }
</ul>

<!-- Directiva SWITCH -->

<input placeholder="Introduce el Numero" type="text" #daynumber>
<br>
<button class="btn btn-primary mt-2" (click)="changeDay(daynumber.value)">Buscar</button>

@if (dia) { 
@switch (dia) {
    @case (1){
        <p>Tu dia es el Domingo!</p>
    }
    @case (2){
        <p>Tu dia es el Lunes!</p>
    }
    @case (3){ 
        <p>Tu dia es el Martes!</p>
    }
    @case (4){
        <p>Tu dia es el Miercoles!</p>
    }
    @case (5){
        <p>Tu dia es el Jueves!</p>
    }
    @case (6){
        <p>Tu dia es el Viernes!</p>
    }
    @case (7){
        <p>Tu dia es el Sabado!</p>
    }
    @default {
        <p>El Numero introducido no corresponde a un dia!</p>
    }
}
}

<!-- Formularios (Basados en plantillas) y Validaciones en Formularios-->
 
<br>
<div class="card mt-2">
    <div class="card-body">
        <form (ngSubmit)="procesar()" #contactForm="ngForm">

            <div class="mb-2">
                <label for="" class="form-label">
                    Nombre:
                </label>
                <!-- Nota: "ngModel" se utiliza para enlazar datos bidireccionalmente entre un elemento del formulario y una propiedad de un componente (sin recargar la pagina) -->
                 <!-- Es necesario que el input tenga el atributo required para que funcione el valid -->
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre aqui" 
                 [(ngModel)]="persona.nombre" required #name="ngModel">

                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                    Falta el atributo Nombre
                </div>
            </div>

            <div class="mb-2">
                <label for="" class="form-label">
                    Edad:
                </label>

                <input type="number" name="edad" class="form-control" placeholder="Ingrese su Edad aqui" 
                [(ngModel)]="persona.edad" required #age="ngModel">

                <div class="alert alert-danger mt-2" [hidden]="age.valid || age.pristine">
                    Falta la Edad
                </div>
            </div>
           
            <button [disabled]="!contactForm.valid"  class="btn btn-primary mt-2" (click)="GuardarFormulario(name.value, age.value)">Enviar</button>
        </form>
            
    </div>
</div>
<!-- Nota: "name.errors" Me dice que atributos estan presentes en mi etiqueta, y si estos estan activos o inactivos mediante un booleano -->
{{name.errors | json}}

<hr>
<!-- Nota: El "valid" me permite saber si alguna regla de validacion se esta cumpliendo, si es false no se estan cumpliendo, en cambio si es true si se cumple -->
{{name.valid}}
<br>
{{contactForm.valid}} 

<hr>










